---
---
@import "minima";
@import url(https://use.typekit.net/kfz0dij.css);

p{
	text-align: left;
	text-wrap: pretty;
}
h1 h2 h3 h4 h5 h6{
	text-wrap: pretty;
}
body{
	overscroll-behavior: none;
	background-color:#F2F0E5;
	font-family: cardea, serif;
font-weight: 400;
font-style: normal;

}
.site-nav{
	background-color: none;
}
.site-title{
		font-weight: bold;
        font-size: 200%;
        width: 300px;
        letter-spacing: 0px;
        line-height: 1.5em;
        margin-bottom: 0;
		color: #5E409D;
		text-wrap: pretty;
}
	.home h1{
		font-size: 200%;
        width: 350px;
        border-bottom: dotted;
        padding-bottom: 10px;
        margin-bottom: 50px;
        clear: both;

}
.site-title:visited{
	color: #5E409D;
}
.site-header {
	border-bottom: 0px;
}
.site-footer{
	border-top: dotted;
}
img{
	border: solid  1px black;
	padding: 10px;
}
.home img{
	position: fixed;
	margin-left: 400px;
	width: 40%;
}
img + em {
	font-family: "base-mono-wide", monospace;
	font-weight: 400;
	font-variant-caps: all-small-caps;
	font-size: 120%;
	font-style: normal;
}
h1 {
	font-weight: 400;
}
h2 {
	font-weight: 400;
}
h3 {
	font-weight: 400;
}
h4 {
	font-weight: 400;
}
.post-meta{
	font-family: "base-mono-wide", monospace;
font-weight: 700;
font-style: italic;
	font-size: 16px;
	color: #5E409D;
	text-align: right;
}
.post-title {
	font-family: "base-mono-wide", monospace;
	font-weight: 300;
	font-style: italic;
	font-size: 16px;
	color: #5E409D;
	margin-bottom: 5px;
	margin-top: -10px;
}
.post-header {
	position: fixed;
	text-align: right;
	width: 200px;
	margin-top: 10px;
	margin-bottom: 0px;
	border-right: dotted;
	padding: 10px;
	height: fit-content;
	border-color: #5E409D;
}
.post-content.e-content{
	width: 80%;
	margin-top: 0;

}
.post-content{
	margin-top: 0px;
	margin-left: 250px;
}
.post-content h3 {
	border-bottom: dotted;
	font-size: 200%;
}

.footnotes{
	font-family: "base-mono-wide", monospace;
	font-weight: 300;
	font-style: italic;
	font-size: 90%;
	color: #5E409D;
}
.footnote{
	font-family: "base-mono-wide", monospace;
	font-weight: 300;
	font-style: normal;
	margin-left: 2px;
}
.footnote:hover{
	color: #AF3029;
	text-decoration: none;
}
a {
	color: #5E409D;
}
a:visited {
	color: #5E409D;
}
a:hover{
	text-decoration: none;
	color:#AF3029;
	transition-duration: 1s;
}
.home{
	float: left;
}
.post-list-heading{
	font-family: "base-mono-wide", monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 90%;
	color: #5E409D;
	border: solid 2px #5E409D;
	width: fit-content;
	padding: 5px;
}
.post-meta{
	font-family: "base-mono-wide", monospace;
	font-weight: 300;
	font-style: normal;
	font-size: 90%;
	color: #5E409D;
}
.post-list{

}
.wrapper{
	margin-top: 10px;
	margin-left: 10px;
	max-width: 100%;
}
.page-content{
	max-width: 80%;
	padding: 0px 0;
}

@media screen and (max-width: 600px){
	
	.site-title{
	font-weight: bold;
	font-size: 2.5rem;
	width: 90%;
	letter-spacing: 0px;
	line-height: 1.2em;
	margin-bottom: 0;
	color: #5E409D;
}
	.home h1{
		font-size: 2.5rem;
		width: 90%;
		border-bottom: dotted;
		padding-bottom: 10px;
		margin-bottom: 50px;
		clear: both;
		line-height: 120%;
}
	.post-header {
		position: relative;
		text-align: left;
		width: 100%;
		margin-top: 40px;
		margin-bottom: 0px;
		border-bottom: dotted;
		border-right: none;
		padding: 0;
		height: fit-content;
		border-color: #5E409D;
}
	.post-content.e-content{
		width: 100%;
		margin-top: 0;

}
	.post-meta{
		font-family: "base-mono-wide", monospace;
		font-weight: 300;
		font-style: italic;
		font-size: 16px;
		color: #5E409D;
		text-align: left;
	}
	.post-title {
		font-family: "base-mono-wide", monospace;
		font-weight: 300;
		font-style: italic;
		font-size: 16px;
		color: #5E409D;
		margin-bottom: 5px;
		margin-top: 0px;
	}
	.post-content{
		margin-top: 20px;
		margin-left: 0px;
	
}
	.post-content h3 {
		border-bottom: dotted;
		font-size: 2.5rem;
		line-height: 120%;
}
	p{
		text-align: left;
		text-size: 120%;

	}
	.page-content{
		max-width: 100%;
		padding: 0px 0;
}
	img{
		border: solid  1px black;
		padding: 10px;
		width: 90%;
		height: 90%;

}
}